@import url('https://fonts.googleapis.com/css?family=Overpass Mono|Karma&subset=latin-ext');

html, body {
    font-family: 'Karma', serif;
    margin: 5px;
}

#toc td:first-child {
    text-align: left;
}

code, pre {
    font-family: 'Overpass Mono', Consolas, monospace;
    white-space: pre;
}

h2, h3 {
    margin: 0;
}

h3 {
    font-style: italic;
}

h2 {
    font-size: 20px;
}

p {
    margin: auto;
}

.minimize {
    color: #88A;
}
.genre-source {
    cursor: pointer;
}

.genre {
    font-size: 0.8em;
    float: right;
}

.source-button {
    font-size: 0.8em;
    display: block;
}

.code-source {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.type, .return {
    color: blue;
}

.function {
    padding: 5px;
    /* width: 1200px; */
}

.function:nth-child(odd) {
    background-color: #E7E7E7;
}

/* sidenav stuff */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E7E7E7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav li {
    height: 1.2em;
    display: block;
    overflow: hidden;
    margin: 5px;
}

.sidenav .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    margin-left: 25px;
    overflow: hidden;
    height: 1.2em;
    word-break: keep-all;
    padding: 5px;
    border-radius: 10px;
}
.sidenav .close:hover {
    background: #FFF;
    transition: 0.3s;
}

.navopen {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    display: block;
}
.navopen:hover {
    background: #E7E7E7;
    transition: 0.3s;
}
#content {
    margin-top: 45px;
}

/* obtained with https://meyerweb.com/eric/tools/color-blend/#E7E7E7:00FFFF:6:hex */
.function.focused {
    background-color: #DBFFFF;
}
.function.focused:nth-child(odd) {
    background-color: #C6EAEA;
}

div.example {
    margin-left: 2em;
}

pre.markdown {
    background: #EEE;
    padding: 5px;
    before: 0;
    margin: 5px;
}

/* style */
.at_string, .at_raw_string, .at_reference, .at_abstract {
    color: #cc5555;
}
.at_format_string_begin, .at_format_string_end, .at_format_string_continue, .at_format_string_bare {
    color: #aa3333;
}

.at_operator {
    color: #49639A;
    font-weight: bold;
}

.at_number {
    color: #a3a110;
}

.at_bracket_open,
.at_bracket_close,
.at_curry_open,
.at_curry_close,
.at_func_end,
.at_func_start,
.at_named_func_start,
.at_comma {
    font-weight: bold;
}

.at_comment {
    color: #556677;
}
