@import url('https://fonts.googleapis.com/css?family=Overpass Mono|Karma&subset=latin-ext');

html, body {
    font-family: 'Karma', serif;
    margin: 5px;
}

#toc td:first-child {
    text-align: right;
}

code, pre {
    font-family: 'Overpass Mono', Consolas, monospace;
    white-space: pre;
}

h2, h3 {
    margin: 0;
}

h3 {
    font-style: italic;
}

h2 {
    font-size: 20px;
}

p {
    margin: auto;
}

.genre {
    font-size: 0.8em;
    float: right;
}

.source-button {
    font-size: 0.8em;
    display: block;
}

.code-source {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.type, .return {
    color: blue;
}

.function {
    padding: 5px;
    /* width: 1200px; */
}

.function:nth-child(even) {
    background-color: #e7e7e7;
}

div.example {
    margin-left: 2em;
}

/* style */
.at_string, .at_reference, .at_abstract {
    color: #cc5555;
}

.at_operator {
    color: #330077;
    font-weight: bold;
}

.at_number {
    color: #a3a110;
}

.at_bracket_open,
.at_bracket_close,
.at_curry_open,
.at_curry_close,
.at_func_end,
.at_func_start,
.at_comma {
    font-weight: bold;
}

.at_comment {
    color: #556677;
}